# Папки
logs/
/my-env/
.vscode/
__pycache__/
results/

# Файлы
*.log           # Все логи
*.bak           # Резервные копии
*.pyc           # Байт-код Python
*.swp           # Файлы vim/neovim
.DS_Store       # Для macOS
.env            # Файлы с переменными окружения
*.egg-info/     # Метаданные пакетов
.pytest_cache/  # Кэш тестов

# Playwright-specific
playwright-report/
test-results/
logs/

beer_to_choose.egg-info/
setup.py
